body {
background-color: #fffc4f;
}


.thumb {
  display: block;
  margin: 0 auto;
  width: 40%;           /* scales to 20% of original width */
  height: auto;         /* maintains aspect ratio */
  position: relative;
  top: 0px;
  max-width: 100%;
}