.title {
      position: relative;
        display: flex;
        justify-content: center;
       font-size: 200%;  
       background-color: rgb(255, 255, 255);
}
.subtitle {
     position: relative;
        display: flex;
        justify-content: center;
       font-size: 110%;
       background-color: rgb(250, 250, 250);
}
#Clicked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 40%;
       height: 50%;
    font-size: 150%;
    color: rgb(53, 52, 52);
}
body {
    background-color: #f3f2f2;
    font-family: Garamond, serif;
}
.container {
       position: relative;
       transform: translateX(2%);
}
#topSquare {
    width: 100%;; 
    height: 100px;
    top: 100px;
    background-color: #ffffff;
}