section, p{
  padding-left: 15%;
  display: flex;
  flex-direction: column; /* stack elements vertically */
  align-items: center;  /* horizontal centering of children */
  justify-content: flex-start;
}
h1 {
    top:0px;
width: 100%;
z-index: 100000000;
    position: sticky;
    text-align: center;
    padding-top: 10px;
    font-family:Arial, sans-serif;
    background-color: beige;
}
h2 {
    padding-top: 10px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
}
h3 {
   
    position: relative;
   padding-left: 40px;
   font-weight: 130;
}
#line::first-letter {
  font-size: 400%;
}
#line {
  display: flex;
top: 100px;
}
main {
    position: relative;
    bottom: 30px;
    left: 900px;
    padding: 20px;
}
section {
   line-height: 1.5;
}
p {
      text-align: center;
    line-height: 1.5;
}
img {

 scale: 1.5; 
 border: 3px solid rgb(177, 177, 177);
  box-shadow: 0 0 0 6px rgb(236, 236, 236); 
}
img:hover {
    scale: 170%;
    transition: all 0.3s ease-in-out;
}
img:not(:hover) {
    transition: all 0.3s ease-in-out;
}
.clickable:active {
  transform: scale(10);
  filter: brightness(10);
}
.clickable {
transform: translateY(70px) translateX(30px);

  cursor: pointer;
  z-index: 10;
}
section {
    display: inline-block;
    width: 99ch;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: center;
}
.first-line {
 display: inline-block;
  transform: translateY(20px);
}
.first-line::first-letter {
  font-size: 400%;
}