.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}
#money {
    font-size: 40px;
    transform: translateY(-480px) translateX(250px);
    pointer-events: none;
}
#CPS {
    transform: translateY(-500px) translateX(200px);
    pointer-events: none;
}
#rolleds {
   font-size: 40px;
    transform: translateY(-500px) translateX(250px);
    pointer-events: none;
}
#roll {
    width: 200px;
    height: 100px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 20px auto;
}
#result {
    width: 350px;
    height: 200px;
    font-size: 30px;
    margin: 20px auto;
    text-align: center;
    border-radius: 12px;
    display: flex;
     pointer-events: none;
    justify-content: center;
    align-items: center;
}
#title {
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
     pointer-events: none;
    text-align: center;
}
.upgrade {
    margin: 20px auto;
    width: 200px;
    height: 100px;
    font-size: 20px;
    background-color: orange;
    border-radius: 12px;
    border: 5px solid black;
    transform: translateX(600px) translateY(-570px);
}
.rolls {
    color: black;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
     pointer-events: none;
    font-style: normal;
    transform: translateX(350px) translateY(-600px);
}

#rolltitle {
    font-size: 40px;
     pointer-events: none;
    margin-top: 20px;
    text-align: center;
      transform: translateX(350px) translateY(-600px);
}
.amountrolled {
    font-size: 20px;
    margin-top: 10px;
     pointer-events: none;
    text-align: center;
      transform: translateX(-560px) translateY(-1010px);
}
#amountrolleds {
    font-size: 30px;
    margin-top: 20px;
     pointer-events: none;
    text-align: center;
      transform: translateX(-560px) translateY(-1010px);
}