.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#money {
    font-size: 40px;
    transform: translateY(-350px) translateX(100px);
    pointer-events: none;
}
#rolleds {
   font-size: 40px;
    transform: translateY(-355px) translateX(100px);
    pointer-events: none;
}
#roll {
    width: 200px;
    height: 100px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 20px auto;
}
#result {
    width: 350px;
    height: 200px;
    font-size: 30px;
    margin: 20px auto;
    text-align: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title {
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.upgrade {
    margin: 20px auto;
    width: 200px;
    height: 100px;
    font-size: 25px;
    background-color: orange;
    border-radius: 12px;
    border: 5px solid black;
}
.rolls {
    color: black;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    font-style: normal;
}
#rolltitle {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}